<div class="project-intro padrule">
    <h2 class="pb-0">Data Analytics Reporting & Visualization</h2>
    <p class="project-stack">2021 / Google Analytics, PowerPoint</p>
</div>

<div class="row padrule">
    <div class="col-md-8 col-sm-12">
        <img src="assets/img/data-analytics-2.png" class="project-image">
    </div>

    <div class="col-md-4 col-sm-12 project-info">
        <p>
            <b>Role:</b>
            <br>
            Data Analyst, Technical Lead
            <br>
            <br>
            <b>Date:</b>
            <br>
            2019 - 2021
            <br>
        </p>
    </div>
</div>

<div class="project-overview padrule">
    <h3>Overview</h3>
    <ul>
        <li>Evaluated growth and potential opportunities for our eCommerce business using data from Google Analytics.</li>
        <li>Developed presentations for C-level stakeholders to communicate the current and potential future state of business, identifying key consumer touchpoints, what the business is succeeding at, and areas of opportunity to grow.</li>
        <li>Created graphs, charts, and made unbiased interpretations illustrating the websites&rsquo; analytics reporting in a way that it could easily inform successful data-driven business decisions.</li>
    </ul>
</div>

<div class="row pt-5 padrule">
    <div class="col-md-6 col-sm-12 mobile-col">
      <img src="assets/img/data-analytics-cyber-week.png" class="project-image">
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets/img/data-analytics-business-review.png" class="project-image mb-3">
    </div>
  </div>
  <hr>