<div class="project-intro pt-5 padrule">
    <h2 class="pb-0">eCommerce Website Redesign
    </h2>
    <p class="project-stack">2019 / Project Management, UX/UI</p>
</div>

<div class="row padrule">
    <div class="col-md-8 col-sm-12">
        <img src="assets/img/pageaday-home-mobile-1-2-2.png" class="project-image">
    </div>

    <div class="col-md-4 col-sm-12 project-info">
        <p>
            <b>Role:</b>
            <br>
            Project Manager
            <br>
            <br>
            <b>Date:</b>
            <br>
            2018 - 2019
            <br>
        </p>
    </div>
</div>

<div class="project-overview padrule">
    <h3>Overview</h3>
    <ul>
        <li>Created RFP for redesign and relaunch of the website, with the goal of UX/UI designed to increase conversions. Direct-to-Consumer sales, newsletter signups, User-Generated Content</li>
        <li>Iterated through user journeys and consumer touchpoints, created wireframes and visual representations for mobile, tablet, desktop.</li>
        <li>Developed information architecture to emphasize eCommerce focus.</li>
        <li>Worked closely with developers on iterations and code implementation.</li>
        <li>Implemented Basecamp as a documentation and project management tool.</li>
        <li>Coordinated between developers and C-level stakeholders to ensure project deliverables met expectations.</li>
    </ul>
</div>

<div class="row pt-5 pb-5 padrule">
    <div class="col-md-8 col-sm-12">
      <img src="assets/img/pageaday-contest-tablet-1-2.png" class="project-image">
    </div>
    <div class="col-md-4 col-sm-12">
      <img src="assets/img/pageaday-stationery-mobile-4-2.png" class="project-image mb-3">
      <img src="assets/img/pageaday-newsletter-mobile-3-2.png" class="project-image">
    </div>
  </div>