//TODO
// Fix tools and technologies (appearing at 753px screen size)
// FIX DARK MODE especially checkbox behavior. If box is checked its saved in localStorage, but doesn't stay checked-looking for user
// Update header/nav padding (see Projects page)
// Link skills to Projects
// Add Bowtie projects, add CSS projects (super-css), add skills to each project, add anchor links TOC to projects at top of page 
// Get rid of extra images and assets
// Refactor modal script to apply for project images
// Add skills: SASS, Bootstrap
// Add hoverstate to social icons in footer
// Change skills and exp to thirds cols
// Change projects to have "see more"
// Fix plant pot icon for PC/android devices?
// Accessibility audit - especially with dark mode colors



// Color Ideas
// Mauve #aa8297
// Deep brown #372a00

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Butcherman&family=Eczar:wght@400;500;600;700;800&family=Fruktur&family=IM+Fell+English:ital@0;1&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Katibeh&family=Kavoon&family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik+Wet+Paint&family=Fragment+Mono:ital@0;1&family=Fragment+Mono:ital@0;1&family=Prata&family=Montaga&display=swap');

/* fonts

font-family: 'Bangers', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Butcherman', cursive;
font-family: 'Eczar', serif;
font-family: 'Fruktur', cursive;
font-family: 'Ibarra Real Nova', serif;
font-family: 'IM Fell English', serif;
font-family: 'Katibeh', cursive;
font-family: 'Kavoon', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Wet Paint', cursive;
font-family: 'Fragment Mono', monospace;
*/


@font-face {
    font-family: 'yipesregular';
    src: url('/assets/fonts/Yipes.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5rem;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: oldlace;
    // padding-left: 10rem;
    // padding-right: 10rem;
    // @media screen and (max-width: 900px) {
    //     padding: 3rem;
    // }
}

h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 3em;
    font-weight: 300;
}


h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2.25rem;
    font-weight: 300;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

h3 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1rem;

    @media screen and (max-width: 740px) {
        padding-top: 1rem;
    }
}

a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: darkolivegreen;
    text-decoration: underline wavy;
    text-underline-offset: 5px;
}

nav {
    padding-left: 3rem !important;

    @media screen and (max-width: 740px) {
        padding-left: 33px;
        padding-bottom: 0;
    }
}

nav a {
    @media screen and (max-width: 740px) {
        text-align: center !important;
    }
}

.navigation {
    @media screen and (max-width: 740px) {
        text-align: center !important;
    }
}

.title:hover {
    text-decoration: none !important;
    font-weight: 600;
}

.current {
    color: darkolivegreen;
    text-decoration: underline wavy;
    text-underline-offset: 5px;
}

button {
    width: 75px;
    background-color: darkolivegreen;
    border: none;
    color: white !important;
    padding: 15px 32px 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%;
    z-index: 1;
}


button:hover {
    background: #3f5b0e;
    color: oldlace;
}

//Dark Mode
.dark-mode {
    background-color: #05263c; //#251d48
    color: oldlace;

    p {
        color: oldlace;
    }

    h2 {
        color: oldlace!important;
    }

    hr {
        border-top-color: oldlace;
    }

    a {
        color: oldlace;
    }

    a:hover {
        color: #B2AAE4; //#a97acc
    }

    .current {
        color: #B2AAE4;
    }

    .hello {
        background-image: linear-gradient(to bottom, #05263c, #1b1e21, #000);

    }

    button {
        background-color: #7768ce !important;
    }

    button:hover {
        background-color: #B2AAE4 !important;
    }


    footer {
        background-color: black;
    }

    .moon-emoji {
        display: inline;
    }
    
    .leaf {
        filter: brightness(0) invert(1);
    }
    
    
    .minimalist2 {
        filter: brightness(0) invert(1);
    }
    
    .darklogo {
        filter: contrast(0);
    }
    
    
    .leaves-emoji {
        display: none;
    }
}

.dark-mode-checkbox {
    opacity: 0;
    position: absolute;
    width: 75px;
    height: 60px;
    bottom: 2px;
    right: 2px;
}

#darkModeBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;

    @media screen and (max-width: 767px) {
        right: 30px;
        bottom: 30px;
    }
}

// .resume-btn {
//     button {
//         width: 175px;
//     }
//     a {
//         color: white !important;
//     }
// }

.padrule {
    padding-left: 12rem;
    padding-right: 12rem;

    @media screen and (max-width: 900px) {
        padding: 2.5rem;
    }

    @media screen and (max-width: 740px) {
        padding: 0 2.5rem;
    }
}

.content {
    flex: 1;
}

.row {
    width: 100%;
}

.hello {
    height: 94vh;
    // background-color: #A1AA82;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, #fdf5e6, #fcb9bc, #a1aa82);

    @media screen and (max-width: 767px) {
        height: 85vh;
    }

    h1 {
        padding-top:0;
        padding-bottom: 0;
        font-size: 5.5rem;
        font-weight: 900;

        @media screen and (max-width: 767px) {
            font-size: 3.5rem;
        }
    }

    h2 {
        font-family: "Ibarra Real Nova", serif;
        font-weight: 900;
        color: black;
        padding-bottom: 0;
        font-size: 3rem;
        margin-bottom: 0;
    }

    h3 {
        font-family: "Fragment Mono", sans-serif;
        font-weight: 600;
        padding-top: 1rem;
        font-size: 2.5rem;

        @media screen and (max-width: 767px) {
            font-size: 1.5rem;
        }
    }
}


.intro {
    padding-top: 8rem;
    padding-bottom: 10rem;

    @media screen and (max-width: 740px) {
        padding-bottom: 5rem;
        padding-top: 3rem;
    }
}

//wavy shapes
.shape {
    position: relative;
}

.shape-bottom {
    @media screen and (max-width: 740px) {
        padding-bottom: 2rem;
    }
}

//shape 1
.custom-shape-divider-top-1658328325 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658328325 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
}

.custom-shape-divider-top-1658328325 .shape-fill {
    fill: #FDF5E6;
}

.dark-mode .custom-shape-divider-top-1658328325 .shape-fill {
    fill: #05263c;
}

//shape 2
.custom-shape-divider-top-1658328596 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658328596 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1658328596 .shape-fill {
    fill: #A1AA82;
}

.dark-mode .custom-shape-divider-top-1658328596 .shape-fill {
    fill: #000;
}

.headshot {
    align-items: center;
    justify-content: center;
    display: flex;

}

.circle {
    // border: 10px solid #cbb3148c;
    border-radius: 50%;
    max-width: 100%;

    @media screen and (max-width: 900px) {
        max-width: 70%;
    }

    @media screen and (min-width: 1300px) {
        max-width: 70%;
    }
}

.skills {
    font-weight: 400;
    line-height: 2rem;
}


.skillscont {
    background-color: #A1AA82;
    padding-top: 8em;
    padding-bottom: 2rem;

}

.dark-mode .skillscont {
    background-color: black;
}

.certifications {
    padding-top: 3rem;
}

.experience {
    margin-top: 3rem;
}


/*Footer*/
footer a {
    color: #201901;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: #201901;
    text-decoration: underline wavy;
    text-underline-offset: 5px;
}

footer .current {
    color: #201901;
    text-decoration: underline wavy;
    text-underline-offset: 5px;
}

.tiny {
    max-width: 10%;
}

.dark-mode .tiny {
    filter: contrast(0);
}

.no-bullet {
    list-style-type: none;
}

footer {
    padding-top: 15em;
    padding-bottom: 2em;
    color: black;
    font-weight: 600;
    font-size: .75rem;
    margin-top: auto;
    bottom: 0;
    background-color: #A1AA82;
}

/* Resume */

.resume-image {
    max-width: 70%;
    border: 10px solid #A1AA82;
}

.dark-mode .resume-image {
    border: 10px solid #B2AAE4;
}

/* Projects */

.project-image {
    max-width: 100%;
    border-radius: 5%;
}

.project-info {
    justify-content: left;
    align-items: center;
    display: flex;

    @media screen and (max-width: 740px) {
        padding-top: 2.5rem;
    }
}

.mobile-col {
    @media screen and (max-width: 740px) {
        margin-bottom: 1rem;
    }
}

.project-stack {
    color: #535353;
}

.project-overview li {
    margin: 10px 0;
}

.disclaimer {
    font-size: 12px;
    font-weight: 700;
}

/* decorations */
.flower2 {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 50%;
    z-index: -1;
    overflow: unset;
}

.flower2img {
    width: 250px;
}

.flower {
    top: 500px;
    position: absolute;
    left: -120px;
    // opacity: 50%;
    z-index: 1;
    overflow: unset;
    transform: rotate(15deg);
}

.flowerimg {
    width: 250px;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.mushrooms {
    position: absolute;
    right: 0;
    top: 60rem;
    // opacity: 50%;
    z-index: 1;
    overflow: unset;
}

.mushroomimg {
    width: 250px;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.plant {
    position: absolute;
    left: 0;
    opacity: 50%;
    z-index: -1;
    overflow: unset;
}

.plantimg {
    max-width: 50%;
}

.minimalist {
    max-width: 70%;
    margin: 0 auto;
    display: inline;
}

.minimalist2 {
    max-width: 70%;
    margin: 0 auto;
    transform: scaleX(-1)
}


.minimalist .leaf {
    opacity: 100%;
}


.stars {
    filter: grayscale(1);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* Contact */

.intro-text {
    margin: auto;
    padding-left: 4rem;

    @media screen and (max-width: 740px) {
        padding-left: 0;
    }
}

/* Tools */
.tools {
    max-width: 100px;
}

.logo {
    text-align: center;
    margin-bottom: 1.1rem;
    ;
}

.logo img {
    max-height: 100px;
}

.logocaption {
    margin-top: .5rem;
}

.short-logo {
    height: 100px;
    transform: translateY(30%);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    @media screen and (max-width: 740px) {
        display: none;
    }
}

.logo-height {
    height: 100px;
}


.moon-emoji {
    display: none;
}
